.all-tests{
    display: flex;
    justify-content:center;
    align-items:flex-start;
}
.all-tests-question{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}